---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "No Expensive Platforms",
    description:
      "Built on lightweight open source code and BigQuery",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Only the data you need",
    description:
      "Fast flexible data delivery to impress your investors and stay ahead of the competition",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Keep developers focused",
    description:
      "No more asking your dev team to pull reports. Automated dashboards enable data self-service.",
    icon: "bx:bxs-data",
  },
  {
    title: "Woman-owned company",
    description:
      "Partner with a company that shares your commitment to diversity",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Data driven. Growth focused.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Leveraging the google cloud platform for fast insights geared towards company growth.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
